// Fuentes personalizadas
@font-face {
    font-family: "Neue-Light";
    src: url("../public/Fonts/NeueMontreal-Light.woff2") format("woff2");
    font-weight: normal;
  
    font-display: swap;
  }
  @font-face {
    font-family: "Neue-Medium";
    src: url("../public/Fonts/NeueMontreal-Medium.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Neue-Regular";
    src: url("../public/Fonts/NeueMontreal-Regular.woff2") format("woff2");
    font-weight: normal;
  
    font-display: swap;
  }
  
  @font-face {
    font-family: "Neue-Bold";
    src: url("../public/Fonts/NeueMontreal-Bold.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Eiko";
    src: url("../public/Fonts/PPEiko-Medium.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Eiko-Heavy";
    src: url("../public/Fonts/PPEiko-Heavy.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Eiko-Thin";
    src: url("../public/Fonts/PPEiko-Thin.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
  }
  
// colores globales
  $primary: #0A287E;
  $secondary: #f3f3e9;

//global Fonts
$font-family-sans-serif: 'Neue-Medium', sans-serif;
$body-color: $primary;
$alt-font: "Eiko", sans-serif;
$alt-font-bold: "Eiko-Heavy", sans-serif;
$alt-font-thin: "Eiko-Thin", sans-serif;

$display-font-sizes: (
  1: 7rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);
// Inputs
$input-font-family:$font-family-sans-serif ;
$input-font-size: 0.9rem ;
$input-bg: $secondary ;
$input-padding-y:0.61rem;
$input-border-radius: 30px;
$input-border-color: none;
$input-focus-box-shadow:none;

// main Navbar

$nav-link-font-size: 1.1rem;
$navbar-light-toggler-border-color: none;
$navbar-light-hover-color: $primary;
$navbar-nav-link-padding-x: 1.5rem;
$navbar-toggler-font-size: 3.2rem;
$navbar-toggler-transition: none ;
$navbar-toggler-focus-width: 0px;

// global links

$link-decoration: none;            
$link-hover-decoration: none;
$link-hover-color:$primary;

@import 'bootstrap/scss/bootstrap';

.alt-font{
  font-family:$alt-font, sans-serif;
}
.alt-font-bold{
  font-family:$alt-font-bold, sans-serif;
}
.alt-font-thin{
  font-family:$alt-font-thin, sans-serif;
}


@media screen and (max-width:1500px){

  .nav-item .nav-link{
    font-size: 0.9rem;
    padding:3 ;
    text-wrap: nowrap;
  }

  
  }
@media screen and (max-width:1200px){

  .nav-item .nav-link{
    font-size: 0.89rem;
    text-wrap: nowrap;
  }
}
@media screen and (max-width:1100px){

  .nav-item .nav-link{
    font-size: 0.82rem;
    text-wrap: nowrap;
  }
}
@media screen and (max-width:1120px){

  .nav-item .nav-link{
    font-size: 0.71rem;
    text-wrap: nowrap;
  }

  
  }
  

