// Fuentes personalizadas
@font-face {
    font-family: "Neue-Light";
    src: url("../public/Fonts/NeueMontreal-Light.woff2") format("woff2");
    font-weight: normal;
  
    font-display: swap;
  }
  @font-face {
    font-family: "Neue-Medium";
    src: url("../public/Fonts/NeueMontreal-Medium.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Neue-Regular";
    src: url("../public/Fonts/NeueMontreal-Regular.woff2") format("woff2");
    font-weight: normal;
  
    font-display: swap;
  }
  
  @font-face {
    font-family: "Neue-Bold";
    src: url("../public/Fonts/NeueMontreal-Bold.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Eiko";
    src: url("../public/Fonts/PPEiko-Medium.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Eiko-Heavy";
    src: url("../public/Fonts/PPEiko-Heavy.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Eiko-Thin";
    src: url("../public/Fonts/PPEiko-Thin.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
  }
  
  // colores globales
  $primary: #0A287E;
  $secondary: #f3f3e9;

//global Fonts
$font-family-base:"Neue-Medium", sans-serif;
$font-size-base: 1.1rem;
$body-color:$primary;

$alt-font: "Eiko", sans-serif;
$alt-font-bold: "Eiko-Heavy", sans-serif;
$alt-font-thin: "Eiko-Thin", sans-serif;


$lead-font-size: 1rem  ;


$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-weight-bold: 900;

//headings

$headings-color:$primary;
$h1-font-size: 3.7rem;
$h2-font-size: 2.4rem;
$h3-font-size: 2rem;
$h3-font-weight: 100;
$h4-font-size: 1.3rem;

$display-font-size-1: 8rem;
$display-font-size-2: 7rem;
$display-font-size-3: 3rem;
$display-font-weight-1:600;
$display-font-weight-2:1000;
$display-font-weight-3:800;








// Inputs

$input-font-size: 0.9rem ;
$input-bg: $secondary ;
$input-padding-y:0.61rem;
$input-border-radius: 30px;
$input-border-color: none;
$input-focus-box-shadow:none;

// main Navbar

// $nav-link-font-size: ;
$navbar-light-toggler-border-color: none;
// $navbar-light-hover-color: $primary;
$navbar-nav-link-padding-x: 1.5rem;

$navbar-toggler-transition: none ;
$navbar-toggler-focus-width: 0px;

// global links

$link-decoration: none;            
$link-hover-decoration: none;
// $link-hover-color:$primary;




